// Variable color

$alabaster: #f7f7f7;
$gray: #898989;
$mercury: #e1e1e1;
$dove-gray: #636363;
$silver-chalice: #acacac;
$mine-shaft2: #363636;
$mine-shaft3: #252525;
$red: #f00;
$blue: #0685ca;
$curious-blue: #1b95e0;
$indigo: #5674cb;
$persimmon: #fe6d4c;
$flame-pea: #dd4f42;

// font-family variables
$font-family-arial: 'Arial';
$font-family-roboto: 'Roboto', $font-family-base;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-black: 900;

// Asset paths
$path-image: '../images/';
$path-fonts: '../fonts/';
