.sub-menu {
  @include transition(all .5s ease);
  background-color: $white;
  left: 0;
  min-width: 200px;
  opacity: 0;
  position: absolute;
  top: 63px;
  transform: translateY(80px);
  visibility: hidden;
  z-index: 2;

  @include media-breakpoint-down(md) {
    @include transition(none);
    background-color: transparent;
    display: block;
    position: relative;
    overflow: hidden;
    top: 0;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  @include media-breakpoint-down(sm) {
    min-width: 160px;
  }

  a {
    color: $white;
  }

  .nav-item {
    padding: 15px 20px;
    position: relative;

    @include media-breakpoint-down(md) {
      padding: 5px 10px;
    }
    //scss-lint:disable NestingDepth
    &:hover {
      @include transition(all .5s ease);
      background-color: $primary;

      @include media-breakpoint-down(md) {
        background-color: transparent;
      }

      > a {
        color: $white;
      }

      .second-menu {
        opacity: 1;
        top: 0;
        visibility: visible;
      }
    }

    a {
      color: $mine-shaft2;
    }
  }
}

.second-menu {
  @include transition(all .4s ease);
  background-color: $white;
  left: 200px;
  min-width: 200px;
  opacity: 0;
  position: absolute;
  top: 100px;
  visibility: hidden;
  z-index: 10;

  @include media-breakpoint-down (md) {
    @include transition(none);
    left: 0;
    top: 0;
    min-width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    transform: translateY(0);
  }
}