.slider {
  margin-top: 30px;

  &__content {
    @include transition(all .3s ease);
    margin-top: -1px;
    padding: 26.5px 30px;

    @include media-breakpoint-down (sm) {
      padding: 20px;
    }

    p {
    @include font-size(13px);
      font-family: $font-family-arial;
    }

    i {
      @include font-size(30px);
      color: $primary;
    }

    &:hover {
      background-color: $primary;
    }

    &:hover,
    &:hover h6,
    &:hover i {
      color: $white;
    }
  }
}
