mixin header(page)
  header
    .topbar
      .container
        .row
          .col-sm-6.d-flex.justify-content-center.justify-content-sm-start
            .topbar__social
              +social-header('facebook', 'google-plus', 'instagram', 'twitter')
          .col-sm-6.d-flex.justify-content-sm-end.justify-content-center.border-top.border-md-none
            .topbar__action
              ul.list-inline.list-unstyled
                li.list-inline-item
                  a(href="login.html", title="") Đăng nhập
                li.list-inline-item
                  a(href="register.html", title="") Đăng ký
    .topbar-bottom
      .container
        .row.d-flex.justify-content-between.align-items-center
          .col-sm-2
            .topbar-bottom__logo
              a(href="index.html", title="logo", class="d-block w-100 text-center")
                img(src="images/logo.jpg", alt="logo", class="img-fluid")
          .col-sm-6
            .topbar-bottom__hotline.d-flex.justify-content-center.my-3.my-md-0
              .topbar-bottom__content.float-left.mr-3.mr-sm-5.pr-md-5.pr-sm-0
                h3 Hotline:
                p  (04) 9500 9650 - (04) 9500 8850
              .topbar-bottom__content.float-left
                h3 Đặt hàng nhanh
                p  (04) 9500 9650 - (04) 9500 8850
          .col-sm-4
            form(action="#", method="get", class="topbar-bottom__search")
              .form-group.mb-1
                input(type="text", class="form-control", placeholder="Tìm kiếm...")
                button(type="submit", class="btn")
                  i.fa.fa-search
    .menu
      .container
        +menu()
